@media (max-width: 576px) {
	header .back-image {
		width: 100%;
		height: 550px;
		background-position: center;
	}

	header .back-image .navigation .info {
		display: flex;
		width: 100%;
		padding: 20px;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	header .back-image .info .info-left {
		width: 100%;
	}

	header .back-image .info .info-right {
		width: 100%;
	}

	header .back-image .menu {
		display: flex;
		flex-direction: column;
	}

	header .back-image .menu .logo {
		width: 100%;
	}

	header .back-image .menu .nav-menu {
		width: 100%;
	}

	header .back-image .menu .nav-menu ul {
		padding-left: 0;
		list-style: none;
		display: flex;
		align-items: center;
		font-size: 13px;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-evenly;

	}

	header .back-image .menu .nav-menu li {
		margin-top: 5px;
		padding: 0;
	}

	/* history */
	.HISTORY {
		padding: 3em 1em 3em 1em;
		border-bottom: 1px solid #f1f1f1;
		width: 100%;
	}

	.main1 {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding-bottom: 3em;
	}

	.main h2 {
		color: #464646;
		font-size: 2em;
		width: 100%;
		margin: 0px 0px 0px 0px;
		margin-top: 0em;
		font-weight: 700;
	}

	.main {
		width: 100%;

	}

	.news-right {
		width: 100%;
		/* float: left; */
	}


	.news-right p {
		color: #b7b7b7;
		font-size: 16px;
		width: 100%;
		padding: 0em 0px;
		font-weight: 300;
		line-height: 1.9em;
	}

	.img {
		margin-top: 0em;
	}

	.img1 {
		width: 42%;
		margin: 0px 15px 0px 15px;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin-bottom: 20px;
		padding: 4px;
		height: 205px;
	}

	.SERVICES {
		padding: 1em 5em 6em 5em;
		height: 100%;
	}

	.sec2 h3 {
		text-align: center;
		color: #333;
		font-size: 2.5em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.sec2 p {
		text-align: center;
		color: #b4b8bb;
		margin-top: 1em;
		font-size: 17px;
		font-weight: 300;
		letter-spacing: 1px;
	}

	.SERVICES1st {
		margin-top: 4em;
		margin-bottom: -1em;
	}

	.ser1 {
		width: 50%;
		float: left;
		padding-right: 2em;
		/* padding-bottom: 3em; */
	}

	.serc1 {
		width: 50%;
		float: left;
		padding-right: 2em;
		padding-bottom: 1em;
	}

	.sre2 {
		width: 100%;

	}

	.ser2 span {
		color: #ffa41f;
		font-size: 2em;
	}

	.ser2 h4 {
		color: #464646;
		font-size: 17px;
		font-weight: 900;
		padding: 0.6em 0px 0.2em 0px;
		margin: 0px;
		line-height: 2.5em;
		letter-spacing: 1px;
	}

	.ser2 p {
		color: #b7b7b7;
		font-size: 15px;
		line-height: 1.5em;
	}

	.about {
		background-color: #faf8f9;
		padding: 5em 1em 5em 1em;
		height: 100%;
	}

	.aboutus {
		float: right;

	}

	.sodales h3 {
		font-size: 2em;
		color: #464646;
		font-weight: 900;
		margin: 31.2em 0px 0px 0px;
	}

	.sodales p {
		font-size: 18px;
		color: #999;
		width: 100%;
		line-height: 1.9em;
		font-weight: 300;
		padding: 1.5em 1em 1.5em 0px;
	}

	.sodales a {
		color: #fff;
		background-color: #ffa41f;
		padding: 13px 30px 13px 30px;
		border-radius: 3em;
		border: 2px solid #ffa41f;
	}

}